<html>
<head>
    <meta charset="utf-8" />
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class='template-list-print'>
        <div id="printView">
            <div class="VATTEMP">
                <!-- ngIf: option.InvoiceType === 'InvoiceTemplate' -->
                <!-- ngIf: Invoice.MARK_VISIBLE -->
                <div class="content">
                    <div id="header">
                        <div id="logo">&nbsp;</div>
                        <div class="header-title">
                            <p class="invName">
                                Hóa đơn <br>giá trị gia tăng<br><i class="eInvName">(VAT Invoice)</i>
                            </p>
                            <!-- ngIf: AdjustmentTypeMessage && option.InvoiceType !== 'InvoiceConverted' -->
                            <!-- ngIf: option.InvoiceType === 'InvoiceConverted' && Invoice.ConvertedStatus -->
                            <!-- ngIf: option.InvoiceType === 'InvoiceStorage' -->
                            <div class="date">
                                <span> Ngày<i>(Date)</i>&nbsp; </span><label class="ng-binding">23</label><span> Tháng<i>(Month)</i>&nbsp; </span><label class="ng-binding">05</label><span> Năm<i>(Year)</i>&nbsp; </span><label class="ng-binding">2019</label>
                            </div>
                        </div>
                        <div class="serial-wrapper">
                            <p class="ng-binding">
                                Mẫu số <i>(Form)</i>: 01GTKT0/001
                            </p>
                            <p class="ng-binding">Ký hiệu <i>(Serial)</i>: AA/19E</p>
                            <p>
                                Số <i>(No.)</i>:
                                <strong class="color-red ng-binding">0000000</strong>
                            </p>
                        </div>
                    </div>
                    <div id="main-content">
                        <hr>
                        <div class="comp">
                            <p id="compName">
                                <b class="ng-binding">Công ty Cổ phần Chứng khoán CTS</b>
                            </p>
                            <p>
                                <span> Mã số thuế <i>(Tax Code)</i>:&nbsp; </span>
                                <b class="ng-binding">0101078450</b>
                            </p>
                            <p>
                                <span>Địa chỉ <i>(Address)</i>:&nbsp;</span>
                                <!-- ngIf: option.InvoiceType !== 'InvoiceTemplate' --><b class="b-address ng-binding ng-scope" ng-if="option.InvoiceType !== 'InvoiceTemplate'">Hà Nội</b><!-- end ngIf: option.InvoiceType !== 'InvoiceTemplate' -->
                            </p>
                            <span class="ComPhone">
                                Điện thoại <i>(Tel)</i>:&nbsp;
                                <!-- ngIf: option.InvoiceType !== 'InvoiceTemplate' --><b ng-if="option.InvoiceType !== 'InvoiceTemplate'" class="ng-binding ng-scope">01920234012</b><!-- end ngIf: option.InvoiceType !== 'InvoiceTemplate' -->
                                <!-- ngIf: option.InvoiceType === 'InvoiceTemplate' -->
                            </span>
                            <span class="ComFax">
                                Fax:&nbsp;
                                <b class="ng-binding">193012302399</b>
                            </span>
                            <span class="ComEmail">Email:&nbsp; <b class="ng-binding">cts.vn</b></span>
                            <span class="ComWebSite">
                                Website:&nbsp;
                                <!-- ngIf: option.InvoiceType !== 'InvoiceTemplate' --><b ng-if="option.InvoiceType !== 'InvoiceTemplate'" class="ng-binding ng-scope">http://savis.vn</b><!-- end ngIf: option.InvoiceType !== 'InvoiceTemplate' -->
                                <!-- ngIf: option.InvoiceType === 'InvoiceTemplate' -->
                            </span>
                        </div>
                        <!-- <div class="imgCode">
                              <img
                                class="qr-code-img"
                                width="110"
                                height="110"
                                src="/assets/apps/img/invoice-template/qr-code.png"
                              />
                            </div> -->
                        <div class="taikhoan">
                            <p>
                                <span>Tài khoản <i>(A/C number)</i>:&nbsp;</span><b class="ng-binding">01920193029041&nbsp;&nbsp;&nbsp;Ngân hàng Tiên phong Ha noi</b>
                            </p>
                        </div>
                        <div class="cus">
                            <hr>
                            <p class="mgt-10">
                                <span class="label-sign cus-space">
                                    Họ tên người mua hàng <i>(Buyer)</i>:
                                </span><b class="b-buyer ng-binding">

                                </b>
                            </p>
                            <p>
                                <span class="cus-space"> Tên đơn vị <i>(Company name)</i>: </span><b class="b-buyer-legal-name ng-binding">Trần Khánh Tùng</b>
                            </p>
                            <p>
                                <span class="cus-space"> Địa chỉ <i>(Address)</i>: </span><b class="b-buyer-legal-name ng-binding">
                                    &nbsp;Cầu Giấy Hà nội
                                </b>
                            </p>
                            <p>
                                <span class="cus-space"> Mã số thuế <i>(Tax Code)</i>: </span><span class="border-label span-buyer-tax-code ng-binding">123456789</span><span>Hình thức thanh toán <i>(Payment method)</i>:</span><b class="b-buyer ng-binding">Tiền mặt</b>
                            </p>
                            <p>
                                <span class="cus-space"> Đơn vị tiền tệ <i>(Currency)</i>: </span><span class="border-label span-currency">
                                    &nbsp;&nbsp;&nbsp;VND
                                </span><span>Số tài khoản <i>(A/C No.)</i>:</span><b class="b-buyer ng-binding">
                                    012839251092829
                                </b>
                            </p>
                            <p>
                                <span class="cus-space">Ngân hàng: </span><span class="border-label span-currency"><b class="b-buyer ng-binding">Ngân hàng Vietcombank</b></span>
                            </p>
                            <!-- ngIf: OriginalInvoiceMessage && option.InvoiceType !== 'InvoiceConverted' -->
                        </div>
                        <div class="nenhd_bg clear-both">
                            <table class="invtable">
                                <thead>
                                    <tr class="data" id="menu">
                                        <td width="5%">STT <br><i>(No.)</i></td>
                                        <td width="44%">
                                            Tên hàng hóa, dịch vụ <br><i>(Name of goods, services)</i>
                                        </td>
                                        <td width="12%">Đơn vị tính <br><i>(Unit)</i></td>
                                        <td width="12%">Số lượng <br><i>(Quantity)</i></td>
                                        <td width="12%">Đơn giá <br><i>(Unit price)</i></td>
                                        <td width="15%">Thành tiền <br><i>(Amount)</i></td>
                                    </tr>
                                    <tr class="data">
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6=4x5</td>
                                    </tr>
                                </thead>
                                <tbody class="prds" id="bd">
                                    <!-- ngRepeat: product in Invoice.ListProductInvoice track by $index; -->
                                    <tr class="data p1 ng-scope" ng-repeat="product in Invoice.ListProductInvoice track by $index;">
                                        <td class="stt ng-binding">1</td>
                                        <td class="text-left pdl-5 ng-binding">
                                            Hàng hóa 1
                                            <!-- ngIf: product.Promotion -->
                                        </td>
                                        <td class="text-center pdl-5 ng-binding">
                                            kg
                                        </td>
                                        <td class="back-bold text-right ng-binding">
                                            1&nbsp;
                                        </td>
                                        <td class="back-bold text-right">
                                            <!-- ngIf: !product.Promotion && product.UnitPrice !== '' --><span ng-if="!product.Promotion &amp;&amp; product.UnitPrice !== ''" class="ng-binding ng-scope">100.000&nbsp;</span><!-- end ngIf: !product.Promotion && product.UnitPrice !== '' -->
                                            <!-- ngIf: !product.Promotion && product.UnitPrice === '' -->
                                            <!-- ngIf: product.Promotion -->
                                        </td>
                                        <td class="back-bold text-right">
                                            <!-- ngIf: option.InvoiceType !== 'InvoiceTemplate' && option.InvoiceType !== 'PublishInvoiceTemplate' --><div ng-if="option.InvoiceType !== 'InvoiceTemplate' &amp;&amp; option.InvoiceType !== 'PublishInvoiceTemplate'" class="ng-scope">
                                                <!-- ngIf: !product.Promotion --><span ng-if="!product.Promotion" class="ng-binding ng-scope">100.000&nbsp;</span><!-- end ngIf: !product.Promotion -->
                                                <!-- ngIf: product.Promotion -->
                                            </div><!-- end ngIf: option.InvoiceType !== 'InvoiceTemplate' && option.InvoiceType !== 'PublishInvoiceTemplate' -->
                                        </td>
                                    </tr><!-- end ngRepeat: product in Invoice.ListProductInvoice track by $index; -->
                                    <tr class="data p1 ng-scope" ng-repeat="product in Invoice.ListProductInvoice track by $index;">
                                        <td class="stt ng-binding">2</td>
                                        <td class="text-left pdl-5 ng-binding">
                                            Hàng hóa 2
                                            <!-- ngIf: product.Promotion -->
                                        </td>
                                        <td class="text-center pdl-5 ng-binding">
                                            Cái
                                        </td>
                                        <td class="back-bold text-right ng-binding">
                                            2&nbsp;
                                        </td>
                                        <td class="back-bold text-right">
                                            <!-- ngIf: !product.Promotion && product.UnitPrice !== '' --><span ng-if="!product.Promotion &amp;&amp; product.UnitPrice !== ''" class="ng-binding ng-scope">200.000&nbsp;</span><!-- end ngIf: !product.Promotion && product.UnitPrice !== '' -->
                                            <!-- ngIf: !product.Promotion && product.UnitPrice === '' -->
                                            <!-- ngIf: product.Promotion -->
                                        </td>
                                        <td class="back-bold text-right">
                                            <!-- ngIf: option.InvoiceType !== 'InvoiceTemplate' && option.InvoiceType !== 'PublishInvoiceTemplate' --><div ng-if="option.InvoiceType !== 'InvoiceTemplate' &amp;&amp; option.InvoiceType !== 'PublishInvoiceTemplate'" class="ng-scope">
                                                <!-- ngIf: !product.Promotion --><span ng-if="!product.Promotion" class="ng-binding ng-scope">400.000&nbsp;</span><!-- end ngIf: !product.Promotion -->
                                                <!-- ngIf: product.Promotion -->
                                            </div><!-- end ngIf: option.InvoiceType !== 'InvoiceTemplate' && option.InvoiceType !== 'PublishInvoiceTemplate' -->
                                        </td>
                                    </tr><!-- end ngRepeat: product in Invoice.ListProductInvoice track by $index; -->
                                </tbody>
                                <!-- ngIf: (paginationProduct.total_page === 1) || (paginationProduct.total_page > 1 && paginationProduct.current_page === paginationProduct.total_page) || (Invoice.paginationProduct.current_page === paginationProduct.total_page) -->
                                <tfoot ng-if="(paginationProduct.total_page === 1) || (paginationProduct.total_page > 1 &amp;&amp; paginationProduct.current_page === paginationProduct.total_page) || (Invoice.paginationProduct.current_page === paginationProduct.total_page)" class="ng-scope">
                                    <tr class="text-justify border-bottom">
                                        <td colspan="5" class="td-exchange-rate">
                                            <div class="summary">
                                                <span class="float-left">
                                                    Tỷ giá <i>(Exchange rate)</i>:&nbsp;&nbsp;
                                                </span><span class="float-left font-weight-700"> &nbsp; </span>
                                                &nbsp;&nbsp;Cộng tiền hàng <i>(Total)</i>:
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <span class="ng-binding">500.000&nbsp;</span>
                                        </td>
                                    </tr>
                                    <tr class="text-justify border-bottom">
                                        <td colspan="5" class="td-exchange-rate">
                                            <div class="summary">
                                                <span class="float-left display-block">
                                                    Thuế suất GTGT <i>(VAT Rate)</i>:&nbsp;&nbsp;
                                                </span>
                                                <!-- ngIf: Invoice.VatPercentage >= 0 --><span ng-if="Invoice.VatPercentage >= 0" class="float-left font-weight-700 ng-binding ng-scope">
                                                    0%
                                                </span><!-- end ngIf: Invoice.VatPercentage >= 0 -->
                                                <!-- ngIf: Invoice.VatPercentage < 0 -->
                                                &nbsp;&nbsp;Tiền thuế GTGT <i>(VAT Amount)</i>:
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <!-- ngIf: Invoice.VatPercentage >= 0 --><span ng-if="Invoice.VatPercentage >= 0" class="ng-binding ng-scope">&nbsp;</span><!-- end ngIf: Invoice.VatPercentage >= 0 -->
                                            <!-- ngIf: Invoice.VatPercentage < 0 -->
                                        </td>
                                    </tr>
                                    <tr class="tr-equivalent">
                                        <td class="td-exchange-rate" colspan="5">
                                            <div class="summary">
                                                Tổng cộng <i>(Equivalent amount paid)</i>:
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <span class="ng-binding">500.000&nbsp;</span>
                                        </td>
                                    </tr>
                                    <tr class="text-justify">
                                        <td colspan="6" class="td-amount-in-words">
                                            <span class="text-left float-left display-block">
                                                Số tiền viết bằng chữ
                                                <i>(Amount in words)</i>:&nbsp;
                                            </span><b class="b-buyer ng-binding">Năm trăm nghìn đồng</b>
                                        </td>
                                    </tr>
                                </tfoot><!-- end ngIf: (paginationProduct.total_page === 1) || (paginationProduct.total_page > 1 && paginationProduct.current_page === paginationProduct.total_page) || (Invoice.paginationProduct.current_page === paginationProduct.total_page) -->
                            </table>
                        </div>
                    </div>
                    <!-- ngIf: paginationProduct.total_page > 1 -->
                    <!-- ngIf: paginationProduct.total_page > 1 -->
                    <!-- ngInclude: '/app-data/views/core/invoice/template-list/partials/_footer.html' --><div ng-include="'/app-data/views/core/invoice/template-list/partials/_footer.html'" class="ng-scope">
                        <div id="footer" class="ng-scope">
                            <div class="buyer-wrapper">
                                <p class="label-sign">Người mua hàng <i>(Buyer)</i></p>
                                &nbsp;
                            </div>
                            <div class="convert-wrapper">
                                <!-- ngIf: (option.InvoiceType === 'InvoiceStorage') || (Invoice.ConvertedStatus && option.InvoiceType === 'InvoiceConverted') -->
                                &nbsp;
                            </div>
                            <div class="seller-wrapper">
                                <p class="label-sign">Người bán hàng <i>(Seller)</i></p>
                                <!-- ngIf: Invoice.InvoiceStatus !== ConstantsApp.STATUS_NEW_INVOICE && Invoice.SignedDate -->
                            </div>
                        </div>

                        <div class="tracuu-wrapper ng-binding ng-scope">
                            Trang tra cứu:
                            <a href="http://einvoice-portal.vicoders.com/#!/tra-cuu" target="blank">http://einvoice-portal.vicoders.com/#!/tra-cuu</a>&nbsp;&nbsp;&nbsp;Mã tra cứu: HD201905231443258989
                        </div>
                        <div class="solution-provider-wrapper ng-scope">
                            Đơn vị cung cấp giải pháp: Công ty cổ phần công nghệ Savis, MST: 0101569603,
                            https://savis.vn/
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ngInclude: '/app-data/views/core/invoice/template-list/partials/_product_pagination.html' --><div ng-include="'/app-data/views/core/invoice/template-list/partials/_product_pagination.html'" class="ng-scope">
            <!-- ngIf: paginationProduct.total_page > 1 -->
        </div>
    </div>
</body>
</html>