﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="width:100%;"> 
        <form action="/Home/SamplePdf">
            <input type="text" name="path_file" value="~/exportpdf/content.html" style="width:50%;" />
            <br />
            <button type="submit" style="margin-top:5px;">Download Pdf</button>
        </form>
    </div>
    <div style="width:100%;margin-top:5px;">
        <form method="post" action="/Home/HtmlContentToPdf">
            <textarea name="html_content" style="width:100%" cols="20"></textarea>
            <button type="submit" style="margin-top:5px;">Html -> Pdf</button>
        </form>
    </div>
</body>
</html>
