﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div style="width:100%;margin-top:5px;">
        <form method="post" action="/EvoPdf/HtmlContentToPdf">
            <textarea name="html_content" style="width:100%" rows="20"></textarea>
            <button type="submit" style="margin-top:5px;">Html -> Pdf</button>
        </form>
    </div>
</body>
</html>
